doctype
html
	head
		meta(charset='utf-8')
		//- meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
		title Meta
		//- link(rel='shortcut icon' href='../img/logo.png')
		link(rel='stylesheet',href='../css/main.css')
	body
		include head.jade
		div.titilebox
			div.title.auto
				ul.auto
					li
						a(href="#team")
							em 团队介绍
					li
						a(href="#design")
							em 设计理念
					li
						a(href="#media")
							em 媒体报道
					li
						a(href="#contact")
							em 联系我们
		div.aboutusbox
			div.aboutmeta
				p.p1
					em -关于META-
				p.p2 极致透明
				p.p3 
					em 了解制作工厂，了解产品成本，
				p.p3 
					em 了解你的需求
				ul.auto
					li
						div.auto.imgbox
							img(src="../imgs/factory.png", alt="")
						p.p1 了解制作工厂
						p 每当我们在设计一件新单品的时候，
						p 我们会花好几个月的
						p 时间去寻找精通此单品领域的最优秀的工厂，
						p 与其合作。其实在这个过程中，如何找到在对应领域最
						p 顶尖的工厂，最合适
						p 的原材料
						p 和最优秀的做工。
						p 最好的T恤是布料肯定是美国皮马棉或是埃及棉；
						p 最好的丝绸产地在杭州；意大利当然是
						p 制作皮革类包鞋的不二选择。
						p 我们在全球范围内搜寻最好的与产品匹配的供应商。
					li
						div.auto.imgbox
							img(src="../imgs/cost.png", alt="")
						p.p1 了解产品成本
						p 每当我们在设计一件新单品的时候，
						p 我们会花好几个月的
						p 时间去寻找精通此单品领域的最优秀的工厂，
						p 与其合作。其实在这个过程中，如何找到在对应领域最
						p 顶尖的工厂，最合适
						p 的原材料
						p 和最优秀的做工。
						p 最好的T恤是布料肯定是美国皮马棉或是埃及棉；
						p 最好的丝绸产地在杭州；意大利当然是
						p 制作皮革类包鞋的不二选择。
						p 我们在全球范围内搜寻最好的与产品匹配的供应商。
					li
						div.auto.imgbox
							img(src="../imgs/need.png", alt="")
						p.p1 了解你的需求
						p 每当我们在设计一件新单品的时候，
						p 我们会花好几个月的
						p 时间去寻找精通此单品领域的最优秀的工厂，
						p 与其合作。其实在这个过程中，如何找到在对应领域最
						p 顶尖的工厂，最合适
						p 的原材料
						p 和最优秀的做工。
						p 最好的T恤是布料肯定是美国皮马棉或是埃及棉；
						p 最好的丝绸产地在杭州；意大利当然是
						p 制作皮革类包鞋的不二选择。
						p 我们在全球范围内搜寻最好的与产品匹配的供应商。
				p.p4 
					em 顾客有权力去知道他们购买的产品来自哪里
				p.p5
					em 并了解每件产品的成本。
				p.p6 
					em 一个简单的理念，三个合伙人一拍即合，在2015年中创立了META品牌。 
				p.p6 
					em 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定
				p.p6 
					em 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定价体系，
				p.p6
					em 但是，在META，它绝不是这样。
				p.p6
					em 这个事实让我们很震惊。
				p.p6
					em 于是我们想创立一个简洁，摩登，却又基本，实穿的高质量品牌，
				p.p6
					em 仅提供网络销售，切除一切传统供应链的中间商加价环节。
				p.p6
					em 这意味着一件质量上乘的T恤，成本30元，我们会卖给你60元，
				p.p6
					em 而非传统购物的200元或者更多。
				p.p6
					em 我们还发现，消费者很少去了解他们买的服装的成本，
				p.p6
					em 不仅不知道自己付了多少不必要，夸张的中间商费用，甚至连自己买到的产品在哪里制作？
				p.p6
					em 是否使用安全上等的材料？又或者，是否在干净的工厂环境下制作？
				p.p6
					em 都完全没有留意过。
				p.p6
					em “极致透明”这个简单的概念成为了META品牌的核心，
				p.p6
					em 我们将公开我们所有产品的成本结构以及背后工厂的故事。
				p.p6
					em 我们希望，META能开启一个全新的零售模式。
				div#team
			div.team.box
				p.titlep -团队介绍-
				div.introduceimg.auto
					img(src="../imgs/team.png", alt="")
				p.p6 
					em 一个简单的理念，三个合伙人一拍即合，在2015年中创立了META品牌。 
				p.p6 
					em 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定
				p.p6 
					em 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定价体系，
				p.p6
					em 但是，在META，它绝不是这样。
				p.p6
					em 这个事实让我们很震惊。
				p.p6
					em 于是我们想创立一个简洁，摩登，却又基本，实穿的高质量品牌，
				p.p6
					em 仅提供网络销售，切除一切传统供应链的中间商加价环节。
				p.p6
					em 这意味着一件质量上乘的T恤，成本30元，我们会卖给你60元，
				p.p6
					em 而非传统购物的200元或者更多。
				p.p6
					em 我们还发现，消费者很少去了解他们买的服装的成本，
				p.p6
					em 不仅不知道自己付了多少不必要，夸张的中间商费用，甚至连自己买到的产品在哪里制作？
				p.p6
					em 是否使用安全上等的材料？又或者，是否在干净的工厂环境下制作？
				p.p6
					em 都完全没有留意过。
				p.p6
					em “极致透明”这个简单的概念成为了META品牌的核心，
				p.p6
					em 我们将公开我们所有产品的成本结构以及背后工厂的故事。
				p.p6
					em 我们希望，META能开启一个全新的零售模式。
				div#design
			div.design.box
				p.titlep -设计理念-
				div.introduceimg.auto
					img(src="../imgs/design.png", alt="")
				p.p7 
					em 我们追求极简的设计理念
				p.p6 
					em 一个简单的理念，三个合伙人一拍即合，在2015年中创立了META品牌。 
				p.p6 
					em 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定
				p.p6 
					em 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道的定价体系，
				p.p6
					em 但是，在META，它绝不是这样。
				p.p6
					em 这个事实让我们很震惊。
				p.p6
					em 于是我们想创立一个简洁，摩登，却又基本，实穿的高质量品牌，
				p.p6
					em 仅提供网络销售，切除一切传统供应链的中间商加价环节。
				p.p6
					em 这意味着一件质量上乘的T恤，成本30元，我们会卖给你60元，
				p.p6
					em 而非传统购物的200元或者更多。
				p.p6
					em 我们还发现，消费者很少去了解他们买的服装的成本，
				p.p6
					em 不仅不知道自己付了多少不必要，夸张的中间商费用，甚至连自己买到的产品在哪里制作？
				p.p6
					em 是否使用安全上等的材料？又或者，是否在干净的工厂环境下制作？
				p.p6
					em 都完全没有留意过。
				p.p6
					em “极致透明”这个简单的概念成为了META品牌的核心，
				p.p6
					em 我们将公开我们所有产品的成本结构以及背后工厂的故事。
				p.p6
					em 我们希望，META能开启一个全新的零售模式。
				div#media
			div.media.box
				p.titlep -媒体报道-
				div.auto.img
					img(src="../imgs/meia.png", alt="")
				div#contact
			div.contact.box
				p.titlep -联系我们-
				p 我们仅在线销售，
				p 我们非常希望听到您的声音
				p 您的意见是我们前进的动力
				div.logo.auto
					a(href="javascript:void(0);").block.fl
						img(src="../imgs/weixin.png", alt="")
					a(href="javascript:void(0);").block.fr
						img(src="../imgs/weibo.png", alt="")
				p.p For general inquiries:
				p.pp support@metamorphosis.cn
				p.p For general inquiries:
				p.pp support@metamorphosis.cn
				p.p If you want to make a return or
				p.p an exchange, go to your orders page
				p.p to begin the return process.
		include foot.jade
script(src='http://libs.baidu.com/jquery/2.1.4/jquery.min.js')
script(src='../js/aboutus.js')
script(src='../js/head.js')