doctype
html
	head
		meta(charset='utf-8')
		//- meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
		title Meta
		//- link(rel='shortcut icon' href='../img/logo.png')
		link(rel='stylesheet',href='../css/main.css')
	body
		include head.jade
		div.center
			div.faclogo
				p.up 广东东莞
				p.down 帆布包工厂
			div.introduce
				p “我们第一次拜访工厂的时候
				p 整齐的厂房和门口的棕榈树给我们留下了深刻印象
				p 这里有着非常干净舒适的工作环境，超过1100名员工，平均4年以上从业经验
			div.facbox.facbox1
				p.boxtitle 我们在这生产
				ul.auto
					li
						div
							img(src="../imgs/1.png", alt="")
						span 麦塔帆布单肩包
					li
						div
							img(src="../imgs/2.png", alt="")
						span 麦塔帆布双肩包
					li
						div
							img(src="../imgs/3.png", alt="")
						span 麦塔帆布洗漱包
			div.facbox.facbox2
				p.boxtitle 我们如何找到它
				p 帆布包是META想做的第一件单品，正好我们有一位非常资深的从事包袋行业的朋友，
				p 他向我们引荐了这个工厂的老板，洪先生。
				p 并向我们保证，他是最适合我们的人选。
				p 经过几轮电话沟通，我们去东莞拜访了他的工厂，
				p 我们了解了他们服务的品牌，
				p 大多来自全球的著名轻奢品牌，
				p 他们目前最小的订单也是起码我们的100倍的规模以上。
				p 说到订单量，因为在品牌创办初期，其实是远达不到洪先生要求的，
				p 但是我们不放弃，和他解释了很多关于我们品牌的理念和想法，洪先生最终决定和我们尝试合作一次。
				p 于是，META的第一件单品便诞生了。
			div.facbox.facbox2
				p.boxtitle 材质
				p 我们对双肩包产品的定位是很适合日常度假旅游，也适合上班商务的一款产品。当然，质量优秀的同事价格也不能太贵，
				p 所以我们决定选择厚重的帆布来制作，
				p 但是最初开发的时候因为颜色问题，
				p 我们研究了很久，因为帆布都存在脱色的问题，穿着时间久或者经过水洗涤，都会造成脱色，
				p 我们不希望这样情况发生，在洪先生的帮助下，和布料供应商多次沟通，无数次的反复试验，
				p 我们终于成功的做到了不容易退色的帆布染色技术，就算水洗，
				p 也能保持其颜色。我们对现在的帆布质感和质量，
				p 都非常满意。
				p 另外，五金件我们都是定制钢模生产，。
				p 其重量，抛光的质感均优越于市面上的现成产品。
				p 皮料部分我们在广州大部分皮革城寻觅后，未能找到合适的材料，
				p 但是很高兴的是，在一个朋友的介绍下，我们在韩国供应商那边找到了合适的皮料，
				p 虽然成本会高，但是我们在皮料细节部分坚持进口100%牛皮，充分提高产品质感。
			div.facbox.facbox2
				p.boxtitle 工厂主人
				p 洪先生1982年创立此企业，其实对于他来说，
				p 我们真的算是非常小型的客户。但是他已然很亲切的接待了我们，
				p 并且给与我们非常多的建议和帮助。我们非常感谢他。
				div.picbox.auto.picbox1
					img(src="../imgs/to1.png", alt="")
				div.picbox.auto
					img(src="../imgs/to2.png", alt="")
				div.picbox.auto
					img(src="../imgs/to3.png", alt="")
				div.picbox.auto
					img(src="../imgs/to4.png", alt="")
		include foot.jade
script(src='http://libs.baidu.com/jquery/2.1.4/jquery.min.js')
script(src='../js/head.js')