div.foot
	div.footbox.auto
		ul
			li 帮助
			li
				a(href="#") 退换货
			li
				a(href="#") 联系我们
			li
				a(href="#") 服务条款
			li
				a(href="#") 隐私声明
		ul
			li 公司介绍
			li
				a(href="#") 工厂故事
			li
				a(href="#") 关于我们
		ul
			li 社交网络
			li
				a(href="#") 微博
			li
				a(href="#") 微信
			li
				a(href="#") 博客