div.headwrap
	div.inner.auto
		div.headup
			div.fl.join
				a(href='javascript:void(0);').join 加入会员，首单免邮
			div.shoppingbag.fr
				div.shopbagup
					span 购物袋
					span
				div.shopcar.fr
			div.login.fr
				a(href='javascript:void(0);').zhuce 注册
				span |
				a(href='javascript:void(0);').denglu 登录
			
		div.headmiddle.auto
			div.midbox.auto
				img(src="../imgs/meta.png", alt="")
		div.headdown
			ul.auto
				li
					a(href="homepage.html") 产品目录
				li
					a(href="factory.html") 工厂故事
				li
					a(href="#") 优惠策略
				li
					a(href="aboutus.html") 关于我们
div.loginpop
	div.firstres
		div.firstup
			h1 加入 META 会员计划
			p.intro 市场上的产品，
			p.intro 一般都是8倍于其成本进行销售, 
			p.intro 但是，在META绝不是这样
			p.intro 我们将会坚持我们的极致透明策略,
			p.intro 去除一切中间商，减少供应链，提供
			p.intro.last 优质、低廉价格的设计师产品。
			div.btn.auto
				span.block.emailspan 邮箱
				input(type="email")
				a(href="javascript:void(0);").block.creat 创建账户
				a(href="javascript:void(0);").block.weibo
					span.logospan1
					span 微博账户登陆
				a(href="javascript:void(0);").block.qq
					span.logospan2
					span qq账户登陆
		div.firstdown
			a(href="javascript:void(0);").block 已注册？登陆
	div.secondres
		h1 注册即将完成
		div.box.auto
			span.block 姓名
			input(type="text")
		div.box.auto
			span.block 密码
			input(type="password")
		div.box.auto
			span.block 手机号码
			input(type="text")
		div.loading
			a(href="javascript:void(0);").block.auto 登录中
	div.goto
		div.gotoup
			div.loginin
				p.titlepp -欢迎回来-
				div.metabox.auto
					img(src="../imgs/meta.png", alt="")
				div
					a(href="javascript:void(0);").loginbox.loginbox1.auto.block
						span
						span 微博账户登录
				div
					a(href="javascript:void(0);").loginbox.loginbox2.auto.block
						span
						span qq账户登录
				p.or -OR-
				div.email.div.auto
					span.block 邮箱
					div.loginbox.loginbox3.auto
						input(type="text")
				div.password.div.auto
					span.block 密码
					div.loginbox.loginbox3.auto
						input(type="password")
				div.logingo
					a(href="javascript:void(0);").block.auto 登录
				div.callback
					a(href="javascript:void(0);") 忘记密码？点击这里
			div.zhucea
				a(href="javascript:void(0);").block 注册META